<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

    <!-- 레이아웃을 이용해서, 본문만 작업을 해도 다른 아웃라인, 레이아웃에서 작업한
    html 코드 등을 가져와 출력할 수 있다.
    페이지마다 다르게 자바스크립트를 적용하는것도 가능하기 때문에,
    동적인 페이지 설계를 더욱 편하고 다양하게 할 수 있다. -->
    <main layout:fragment="content">
        <th:block th:if="${session.member == null}">
            <a th:href="@{/member/join}">회원가입</a>
            <a th:href="@{/member/login}">로그인</a>
        </th:block>
        <th:block th:unless="${session.member == null}">
            [[${session.member.userNm}]]([[${session.member.userId}]])님 로그인...
            <a th:href="@{/member/logout}">로그아웃</a>
            <a th:href="@{/mypage}">마이페이지</a>
        </th:block>
    </main>



</html>
