<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <!-- ~{폴더명/html명::명칭(fragment에 지정한 이름)}-->
    <header th:replace="~{outlines/header::common}"></header>

    <!-- 공통적인 부분을 넣고, 불러오는 방식인 선택 변수식-->
    <!-- 출력되는 태그 없이 변수값을 저장하는 th:block -->
    <th:block th:object="${member}">
        [[*{@cLib.toConvert(userId)}]] <br>
        [[${@cLib.toConvert(member.userId)}]] <br>
        <dl>
            <!--#이 붙으면, 해당하는 값을 properties에서 찾아온다.-->
            <dt th:text="#{userId}"></dt>
            <dd th:text="*{userId}"></dd>
        </dl>
        <dl>
            <dt th:text="#{userNm}"></dt>
            <dd th:text="*{userNm}"></dd>
        </dl>
        <dl>
            <dt th:text="#{mobile}"></dt>
            <dd th:text="*{mobile}"></dd>
        </dl>
        <dl>
            <dt th:text="#{member.intro}">자기소개</dt>
            <dd th:utext="*{intro}"></dd>
        </dl>
        <dl>
            <dt th:text="#{member.regDt}"></dt>
            <dd th:text="*{#temporals.format(regDt, 'yyyy.MM.dd')}"></dd>
        </dl>
        </th:block>
        <!-- header와 footer를 재정의, th:replace에서 th:fragment를 받아와서 사용한다.-->
        <footer th:replace="~{outlines/footer::common}"></footer>
    </body>
</html>